@import "tailwindcss";

/* Default (light) theme */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Geist Sans', Arial, Helvetica, sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply variables */
body {
  color: white;
  background-color: black;
}
@keyframes flame {
  0%, 100% { text-shadow: 0 0 10px #c8ff00, 0 0 20px #c8ff00, 0 0 30px #c3ff00; }
  50% { text-shadow: 0 0 20px #c8ff00, 0 0 40px #c8ff00, 0 0 60px #c3ff00; }
}

.fire-text {
  animation: flame 1.5s infinite alternate;
}

